html,
body {
  margin: 0;
}

#fixture {
  width: 640px;
  height: 160px;
  overflow: hidden;
}

.fixture-content {
  box-sizing: border-box;
  width: var(--fixture-content-width, 160px);
  height: var(--fixture-content-height, 40px);
}
