.gsap-react-marquee-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  white-space: preserve nowrap;
}

.gsap-react-marquee-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    var(--gradient-color) 75%
  );
  z-index: 10;
  pointer-events: none;
}

.gsap-react-marquee-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    var(--gradient-color) 75%
  );
  z-index: 10;
  pointer-events: none;
}

.gsap-react-marquee {
  width: auto;
  height: max-content;
  line-height: 100%;
  white-space: preserve nowrap;
  display: flex;
  flex: 1;
}

.gsap-react-marquee-content {
  width: max-content;
  line-height: 100%;
  white-space: preserve nowrap;
  display: flex;
  overflow: hidden;
}
